# Build artifacts
*.iso
*.bin
*.o
*.d
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Toolchain
*.tar.gz
.toolchain/build/
.toolchain/cross/
.toolchain/cross-src/build-*/
.toolchain/cross-src/binutils-2.42/
.toolchain/cross-src/gcc-13.3.0/
.toolchain/cross-src/gdb-14.2/

# IDE files
.idea/
